.tableContainer {
    color:#404041;
    position:relative;
    padding:15px; 
}

.tableContainer h2 {
    font-weight:normal;
    padding-top:5px;
}

.tableContainer hr {
    border: none;
    background-color: #60626D;
    color: #60626D;
    height:2px;
    margin-bottom:15px;
}

.tableContainer .createDate {
    position:absolute;
    top:52px;
    right:15px;
    font-size:0.9em
}

.tableContainer .creator {
    position:absolute;
    top:62px;
    right:15px;
    font-size:0.9em
}

.headerContent {
    width:100%;
    padding-bottom:15px;
    position:relative;
    float:left;
    height:10px;
    margin-bottom:5px;
}

.headerReport {
    display:block;
    height:35px;
    border-bottom:2px solid #60626D;
    margin-bottom:25px;
}

.print-icon {
    cursor:pointer;
    display:block;
    position:relative;
    float:right;
    width:26px;
    height:26px;
    background-image: url('/Image/Icons/report/print.png');
}

.refresh-icon {
    margin-right:7px;
    cursor:pointer;
    display:block;
    position:relative;
    float:right;
    width:28px;
    height:28px;
    background-image: url('/Image/Icons/report/refresh.png');
}

.reportTable {
    position:relative;
    border-spacing:  0;
    empty-cells:     show;
    margin:          0;
    padding:         0;
    border-collapse:separate;
    border:#DDDDDD 1px solid;
    border-bottom:none;
    table-layout: fixed;
    width:100%;
    
}

.reportTable th {
    font-size:1.1em;
    text-align: center;
    width:60px;
    font-weight:bold;
    padding:8px;
    border-right:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
    background:#EEEEEE;
}

.reportTable tr td {
    padding:6px;
    overflow:auto;
    border-bottom:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    text-align: left;
    vertical-align: middle;
    
}

.reportTable tr.deviation.current,
.reportTable tr.current {
    background:#BEE1EC;
}

.reportTable tr td:first-child {
    width:80px;
    text-align:left;
    border-left:none;
}

.reportTable tr td.time {
    text-align: center;
}

.reportTable tr.deviation {
    background:#FFE4E1;
}

.reportTable tr.result {
    font-weight:bold;
    background:#CBE8D3;
    height:39px;
}
